{% if modelPk %}
    <section id="{{ id }}" class="files-frop">
        <p class="info">{{ t('Drop files here or click to upload manually', 'files') }}</p>
        <div class="progress">
            <div class="meter progress_bar"></div>
        </div>
    </section>

    {% if items|length > 0 %}
        <ul class="large-block-grid-6 image-field-list" id="{{ filesId }}">
            {% for item in items %}
                <li data-pk="{{ item.pk }}">
                    <span class="remove">&times;</span>
                    <img src="{{ item.getField(fileField).url }}" alt=""/>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ t('There are no files here', 'files') }}</p>
    {% endif %}

    <script type='text/javascript'>
        $('#{{ id }}').filesField({{ data|raw }});
    </script>
{% else %}
    {{ t('For upload files please save model', 'files') }}
{% endif %}