{% if modelPk %}

<section id="{{ id }}" class="files-frop">
    <p class="info">{{ t('Drop files here or click to upload manually', 'files') }}</p>
    <div class="progress">
        <div class="meter progress_bar"></div>
    </div>
</section>

<ul class="large-block-grid-6 image-field-list" id="{{ filesId }}">
    {% for item in items %}
        <li data-pk="{{ item.pk }}">
            <img src="{{ item.getField(fileField).url }}" alt=""/>
        </li>
    {% else %}
        <li class="empty">
            {{ t('There are no files here', 'files') }}
        </li>
    {% endfor %}
</ul>

<script type='text/javascript'>
    $(function(){
        $('#{{ id }}').filesField({{ data|raw }});
    });
</script>

{% else %}
    Для редактирования данных, пожалуйста, сохраните модель
{% endif %}